@use 'styles/variables' as *;

.waveform-container {
  height: 36px;
  padding: 0 4px;
}

.waveform-bar {
  display: inline-block;
  width: 4px;
  min-height: 6px;
  border-radius: var(--radius-full);
  background-color: $color-brand-active;
  transition: height 0.08s ease-out;

  &:not(.live-meter) {
    animation: waveform-jump 1s ease-in-out infinite alternate;
  }
}

.waveform-container[data-color='playing'] .waveform-bar {
  background-color: $color-brand-success;
}

.waveform-container[data-color='primary'] .waveform-bar {
  background-color: $color-brand-primary;
}

@keyframes waveform-jump {
  0% {
    height: 6px;
    opacity: 0.4;
  }
  50% {
    height: 28px;
    opacity: 1;
  }
  100% {
    height: 12px;
    opacity: 0.6;
  }
}
